.linear{
    background: rgb(12,112,223);
background: linear-gradient(90deg, rgba(12,112,223,1) 25%, rgba(0,0,0,0.24693627450980393) 100%);
}

.linear2{
    background: rgb(29,12,223);
    background: linear-gradient(90deg, rgba(29,12,223,1) 25%, rgba(0,0,0,0.13489145658263302) 100%);
}